<!DOCTYPE html>

{% load bootstrap4 %}

<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        {% include 'blog/nav_accounts.html' %}
        <div class="container">
            <h1>刪除文章</h1>
            <p>是否要刪除此文章?</p>
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary" type="submit">
                <input class="btn btn-danger" type="button" onclick='javascript:history.back(-1);' value='返回'>
            </form>
        </div>
    </body>
</html>